@charset "UTF-8";

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	width: 100%;
	font-family: "dotum";
	font-size: 12px;
}

ul.tabs li {
	float: left;
	text-align: center;
	cursor: pointer;
	width: 99px;
	height: 31px;
	line-height: 31px;
	border: 1px solid #eee;
	border-left: none;
	font-weight: bold;
	background: #fafafa;
	overflow: hidden;
	position: relative;
}

ul.tabs li:last-child {
	border-right: none;
}

ul.tabs li.active {
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.tab_container {
	border: none;
	border-top: none;
	clear: both;
	float: left;
	width: 298px;
	background: #FFFFFF;
}

.tab_content {
	font-size: 12px;
	display: none;
	height: 380px;
	padding-top: 20px;
}

.tab_container .tab_content ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.tab_container .tab_content ul li {
	padding: 5px;
	list-style: none;
}

.carousel.slide.quote {
	height: 400px;
}

.table {
	margin-top: 15px;
	border: 1px solid #444444;
	border-collapse: collapse;
	width: 90%;
	
}

.table2 {
	margin-top: 15px;
	border: 1px solid #444444;
	border-collapse: collapse;
	width: 90%;
	margin-left: 20px;
}

.td {
	border: 1px solid #444444;
	padding: 4px;
	color: #222;
	border: solid 1px #c7c7c7;
	text-align: center;
}

.th {
	color: #222;
	background: #f7f7f7;
	border: solid 1px #c7c7c7;
	border-bottom: solid 1px #555;
	font-size: 1.15em;
	text-align: center;
	padding: 4px;
}

.button {
	background-color: white;
	color: #f1473a;
	border: 1px solid #f1473a;
	padding: 6px 6px 6px;
	margin-left: 218px;
}
.button2 {
	background-color: white;
	color: #f1473a;
	width: 99%;
	height: 25px;
	border: 1px solid #f1473a;
	padding: 3px 3px 2px;
	margin-top: 295px;
	margin-left: 3px;
}
#job_table_span_find {
	color: #ff0000;
}
#job_table_span_finded {
	color: #c0c0c0;
}