@charset "UTF-8";
.test{
	width: 900px;
	text-align: left;
	padding-left: 15px;
	border: 1px soljd #bdbdbd;
}
.tabs{
	 float:left;
	 list-style: none;
	 padding: 0px;
	 margin:0px;
}
.tabs li{
	float:left;
}
.title_box{
	padding-top: 15px;
	margin-left: 15px;
}
.img_box{
	margin-top: 20px;
	width:960px;
	height:550px;
}
.title{
	color:#462114;
	font-size: 14pt; font-weight: bold;
}
.release_date{
	font-size: 10pt; color:orange;
}
.date{
	font-size: 10pt;
}
/* .note_box{
	width:960px;
	height:300px;
	border: 1px solid gray;
	margin-top: 20px;
} */
.note{
	width:268px;
	height:400px;
	float: left;
	margin:0px;
	margin-top : 20px;
	padding: 25px;
}

.menu{
	margin-top:10px;
	background:#ece6ce;
	color:#462114;
	width:236.1px;
	height:35px;
	border:none;
	margin-right:5px;
	float: left;
	text-align: center;
	padding-top : 15px;
	font-weight: bold;
}
#menu{
	margin-right:0px;
}
.note_title{
	text-align: center;
	color:#462114;
	font-weight: bold;
	font-size:12pt;
	margin-bottom: 30px;
}
.note_content{
	color:gray;
	font-size:11pt;
	font-weight: bold;
}
.note_img{
	margin:0 auto;
	width:80px;;
	height:80px;
}
.introduce_box{
	margin:0px;
	width: 930px;
	float: left;
	height:200px;
	margin-top:10px;
}
.introduce{
	background:#462114;
	color:white;
}
.qna_box{
	width:930px; margin:20px auto 0 ; 
}
.tab-content{
  display: none;
  padding: 15px;
  float:left;
}
.tab-link div{
	background:#ece6ce;
	color:#462114;
}
.tab-link.current div{
	background:#462114;
	color:white;
}
ul.tabs li{
	cursor:pointer;
	display:inline-block;
}
.tab-content.current{
	width:930px;
  display: inherit;
}

.QnA_title{
   padding: 15px;
   font-size:14pt;
   font-family:  "굴림", gulim, arial, helvetica, sans-serif;
   float:left;
}

.review_table {
    border-collapse: collapse;
    width: 930px;
}

.review_table th{
   padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 3px solid #ECE6CE;
    height:60px;
    text-align:center;
    font-size:12pt;
}

.review_table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    height:60px;
    text-align:center;
    font-size:12pt;
}

.review_table tr:hover {background-color:#f5f5f5;}

#QnA_td{
   text-align:left;
}


/* 페이징 */
.review_pagination {
    display: inline-block;
    align:center;
    padding-top:40px;
}

.review_pagination a { 
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-size:12pt;
}

.review_pagination a.active {
    background-color: #4a2419;
    color: white;
    border-radius: 5px;
}

.review_pagination a:hover:not(.active) {
    background-color: #cfc085;
    border-radius: 5px;
}

.tarea{
		width: 800px;
		height: 200px;
		}
		
.amount_text{
	width: 40px;
padding-left: 5px;
}

.market_title{
	margin: 0;
	border-bottom: 1px solid #dcdcdc;
}

.tb{
	float: left;
    width: 500px;
  
}


.tb tr:nth-child(1) td{
	font-size: 10pt;
	border-bottom: 1px solid #dcdcdc;
}
.tb td:nth-child(3){
	width: 200px;
}


.market_cart_right_div{
    display: inline-block;
    width: 300px;
    overflow: hidden;
    

    }
    
    #market-flow-cart-content{
    
    vertical-align:bottom;
    margin: 0;
     border: 1px solid #dcdcdc;
    padding: 15px;
    color: #5a5a5a;
    background: #f6f6f6;
    height: 80px;
    }
    
    .market_buy{
    background:#7e5957; 
    color: white;
    border:none;
    width: 100px;
    height: 40px;
    margin-left: 50px;
    
    }
    .market_buy:hover{
    cursor: pointer;
    }
    .market_basket:hover{
    cursor: pointer;
    }
    
    .market_basket{
    color: #7e5957;
    background: white;
    border : 1px solid #7e5957;
	 width: 100px;
    height: 40px;
    margin-top: 20px;
    }
    .mkPrice{
    color: #7e5957;
    font-size: 14pt;
    font-weight:bold;
    }
    
    .loginmessage{
    text-align: center;
    color: #6a6a6a;
   
    }