@charset "UTF-8";

.sidebox {
	margin-top: 10px;
	text-align: center;
	align: center;
	position: absolute;
	right: 80px;
	padding: 0px;
	z-index: 1;
}

.msgbox {
	border-width: 0px;
	text-align: center;
	align: center;
	position: absolute;
	right: 190px;
	visibility: hidden;
	z-index: 2;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.shoppinglist {
	width: 100px;
	height: 470px;
	border: 1PX solid #dcdcdc;
	padding-top: 0px;
	background-color: white;
}

.sh_list1, .sh_list2, .sh_list3 {
	margin: 15px 15px 0px 15px;
	width: 70px;
	height: 80px;
	background-size: cover;
}

.sh_list1, .sh_list2 {
	margin-bottom: 2.5px;
}

.sh1_title {
	font-size: 10pt;
	text-align: center;
}

.sh1_title.last {
	margin-bottom: 10px;
}

.msgframe {
	border: 0px;
	height: 630px;
	width: 360px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.msgIcon {
	width: 55px;
	height: 55px;
}

.pageupIcon {
	width: 58px;
	height: 58px;
}

.recent_list {
	font-weight: bold;
	font-size: 10pt;
	margin: 5px;
}

.arrow {
	color: gray;
	background-color: #f2f2f2;
	width: 100px;
	height: 20px;
	border: none;
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 5px;
	line-height: 15px;
}

.arrow.bottom {
	border-top: 1px solid #DCDCDC;
}

.move_top {
	border: 1px solid #dcdcdc;
	width: 100px;
	height: 50px;
	background-color: white;
	text-decoration: none;
}

.move_top_atag {
	text-decoration: none;
	color: black;
}

.move_top_atag:visited, .move_top_atag:link, .move_top_atag:active,
	.move_top_atag:hover {
	color: black;
}

/* 메신저 상단부분 */
.msg_top_div {
	border-radius: 10px 10px 0 0;
	width: 340px;
	height: 68px;
	background-color: #98c779;
	padding: 0px;
	position: absolute;
	z-index: 2;
	visibility: visible;
}

.msg_top_div_title {
	width: 340px;
	font-size: 15pt;
	padding-top: 21px;
	text-align: center;
	color: white;
	font-weight: bold;
}

.msg_top_div img {
	width: 23px;
	height: 23px;
	position: absolute;
	top: 20px;
	right: 314px;
	visibility: hidden;
}

.msg_top {
	position: relative;
}

.msg_top_table {
	border-radius: 10px 10px 0 0;
	width: 340px;
	height: 68px;
	background-color: #98c779;
	padding: 0px;
	z-index: 1;
	visibility: hidden;
	position: absolute;
}

.messenger_list_title {
	color: white;
	font-size: 15pt;
}

.messenger_back {
	width: 23px;
	text-align: left;
}

.messenger_back img {
	width: 23px;
	height: 23px;
}

.messenger_title {
	float: left;
}

.messenger_title img {
	width: 44px;
	height: 44px;
	margin-right: 5px;
	margin-top: 4px;
	border-radius: 22px;
	border: 1px solid #ced590;
}

.msg_title_name {
	margin-top: 2px;
	font-size: 13pt;
	color: #ffffffdb;
}

.msg_title_online {
	text-align: left;
	font-size: 8pt;
	color: #dee4db;
}

.messenger_close {
	width: 103px;
	text-align: right;
	vertical-align: text-top;
	padding-left: 13px;
	padding-top: 1px;
	padding-right: 1px;
	font-size: 15pt;
}

.messenger_close img {
	width: 24px;
	height: 24px;
}

/* 메신저 하단 메세지 입력부분 */
.msg_bottom {
	width: 340px;
	height: 40px;
	background-color: #8EBD6F;
	padding: 0px;
	margin: 0px;
	border-radius: 0 0 10px 10px;
	position: absolute;
	top: 555px;
}

.msg_bottom_table {
	visibility: hidden;
}

.msg_bottom_table tr th {
	padding: 0px;
	margin: 0px;
	height: 36px;
}

.msg_input {
	width: 270px;
	padding-left: 9px;
	height: 23px;
	margin-left: 10px;
	outline-width: 0;
	background-color: #fdfef6;
	border: 0;
	border-radius: 3px;
}

.send_msg_icon {
	width: 32px;
	height: 28px;
	padding: 0px;
	margin-left: 6px;
	margin-top: 3px;
}

/* 여기부터 메세지 쪽 */
.msg_middle {
	height: 477px;
	width: 340px;
	background-color: #fdfef6;
	overflow: hidden;
	position: relative;
	top: 68px;
}

.msg_table_middle {
	width: 321px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	height: 457px;
	position: absolute;
	z-index: 1;
	top: 0px;
	visibility: hidden;
	display: block;
	    white-space: unset;
}

.msg_table_middle tr {
	height: auto;
}

.msg_middle_left, .msg_middle_left_img {
	/* 상대방 메세지 td,프로필사진*/
	width: 250px;
	float: left;
	word-break: break-all;
}

.msg_middle_left {
	/* 상대방 메세지 td */
	margin-left: 60px;
}

.msg_middle_left_img img {
	/* 상대방 프로필사진 */
	width: 44px;
	height: 44px;
	margin-right: 10px;
	border-radius: 22px;
	border: 1px solid #f5f7e4;
}

msg_middle_left_img tr td {
	font-size: 9pt;
}

.msg_middle_right {
	/* 내 메시지 td */
	/* width: 250px;
	float: right; */
	word-break: break-all;
}

.msg_both
{
	min-height: 33px;
}

.msg_my {
	/* 내 메세지 창 */
	/* #FAF79D */
	/*  #FCE4A8  */
	max-width: 180px;
	width: auto;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: #e1f5d5;
	font-size: 9pt;
	padding: 5px;
	margin-right: 20px;
	margin-bottom: 5px;
	text-align: left;
	float: right;
	word-break: break-all;
	display: block;
}

.msg_you {
	/* 상대방 메세지 창 */
	padding: 5px;
	max-width: 180px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: #f1f3e363;
	font-size: 9pt;
	text-align: left;
	float: left;
	word-break: break-all;
	margin-bottom: 5px;
	display: block;
}

div.msg_you {
	margin-left: 58px;
}

.msg_time {
	/* 상대방 시간 */
	font-size: 8pt;
	text-align: left;
	float: left;
	width: 250px;
	margin-left: 58px;
}

.msg_time_my {
	/* 내 시간 */
	font-size: 8pt;
	margin-right: 20px;
	text-align: right;
	float: right;
	width: 250px;
	word-break: break-all;
}

.messenger_frame {
	border: 2px solid #98c779;
	border-radius: 13px;
	height: 585px;
	width: 340px;
}

/* msg_list.jsp */
.chat_list_table {
	width: 340px;
	height: 445px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 32px;
	z-index: 2;
}

.chat_list_table tr {
	margin-top: 10px;
}

.list_profile {
	width: 50px;
	height: 44px;
}

.list_profile img {
	width: 44px;
	height: 44px;
	border: 1px solid #f5f7e4;
	border-radius: 22px;
}

.list_name {
	font-size: 10pt;
	font-weight: 1000;
}

.list_time {
	font-size: 8pt;
	float: right;
	margin-right: 11px;
}

.list_content {
	font-size: 11pt;
	font-weight: 100;
	margin-right: 10px;
	/* 	border: 1px solid #DCDCDC;
	border-radius: 5px;
	background-color: #F9FAF2; */
	max-width: 220px;
	height: 25px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	text-decoration: none;
}

.chat_list_table a {
	text-decoration: none;
	color: black;
}

.chat_list_table a:visited, .chat_list_table a:link, .chat_list_table a:active,
	.chat_list_table a:hover {
	color: black;
}

.chat_list_table table {
	width: 340px;
	padding: 5px 10px 0px 10px;
}

.chat_list_table a:hover table {
	background-color: #e1f5d5;
}

/* msg_list 끝 */

/* msg_search */
.search_member {
	width: 334px;
	height: 24px;
	padding: 3px;
	line-height: 24px;
	border-bottom: 2px solid #98c779;
	z-index: 2;
	visibility: visible;
	position: relative;
}

.search_member>a {
	width: 15px;
	height: 18px;
	padding: 0px;
	margin-left: 5px;
	text-decoration: none;
	position: absolute;
	top: 5px;
}

.search_member>a>img {
	width: 15px;
	height: 15px;
}

.search_member>input {
	border: 0px;
	background-color: #fdfef6;
	outline-width: 0;
	width: 250px;
	position: absolute;
	right: 59px;
	top: 7px;
}

.search_member>input::placeholder {
	color: #BCBCBC;
}

.search_list {
	width: 340px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 445px;
	position: absolute;
	top: 32px;
	visibility: hidden;
	z-index: 1;
}

.searchNotFoundID {
	width: 324px;
	text-align: center;
	margin-top: 54px;
	color: #4d7632;
	font-size: 12pt;
}

.searchNotFoundMsg {
	width: 324px;
	text-align: center;
	margin-top: 12px;
	font-size: 9pt;
	color: #a69a9a;
}

.searchedMember {
	width: auto;
	height: 54px;
	padding: 5px 10px 0px 10px;
}

.searchedMember img {
	width: 44px;
	height: 44px;
	border-radius: 22px;
	float: left;
	border: 1px solid #f5f7e4;
}

.searchedMember span {
	float: left;
	line-height: 54px;
	font-size: 14px;
	margin-left: 16px;
}

.searchedMember input {
	float: right;
	width: 76px;
	margin: 14px 5px 0px 0px;
	border-radius: 5px;
	border: 0px;
	height: 26px;
	background-color: #98c779;
	outline-width: 0;
	cursor: pointer;
	color: #fdfef6;
	font-weight: bold;
}

/* msg_search 끝 */