@charset "UTF-8";
/* 결제 페이지 */


/* .wrapper {
   width: 930px;
   height: auto;
   background: #e6e6e6;
   padding: 15px;
   margin-bottom: 80px;
   float:left;
} */
/* 테이블 */

.goods_img{
	width: 117px;
	height: 119px;
}
.pay_top_table {
	border-collapse:collapse;
   width: 100%;
   padding-top: 10px;
   border-bottom: 1px solid black;
   font-size:10pt;
}
.pay_top_table td{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pay_top_table th{
	padding-top: 30px;
	padding-bottom: 30px;
}
/* 상품정보 */
/* .pay_top_table tr th:nth-child(1) {
	padding:100px;
} */
.product_title{
	float:right;
	margin-right:70px;
}
.pay_top_table tr td{
   text-align:center;
   border-top:1px solid black;
}

.pay_top_table tr {
   border-top:1px solid black;
}

.product {
   width: 940px;
   height: auto;
   background: white;
   padding: 20px 0px;
}

.top_delivery_checkout{
   overflow: hidden;
   
}
.delivery {
   width: 600px;
	border:1px solid gray;
   background: white;
   margin-top: 5px; 
   float: left;
   margin-bottom: 10px;
    height: 450px;
}

.delivery_title {
   font-size: 15pt;
   margin-left: 25px;
   float: left;
}

.delivery_choice {
   width: 150px;
   font-size: 12pt;
   margin-left: -480px;
}

.delivery_choice_radio {
   width: 500px;
   margin-left: 40px;
   margin-top: -22px;
   float: left;
}

.delivery_choice_radio hr {
   color: #d0d0d0;
   margin-left: -18px;
   opacity: 0.6;
}

.delivery_username {
   width: 100%;
   height: auto;
   padding-left: 30px;
   float:left;
   
}
.delivery_table{
   float:left;
   
}
.delivery_table td{
   width:100px;
}

.table input{
   border:none;
   font-size:12pt;
   width:100px;
}
.table .messagebox {
   height: 35px;
   width: 470px;
   border:1px solid #c0c0c0;
}
.table tr{
   height:30px;
}
.table tr td:nth-child(2){
   width:300px;   
} 
.table tr td:nth-child(2) > input{
   width:30px;
}
.table_colspan input{
   width:500px;
   height:50px;
}

.delivery_warning{
   width:600px;
   float:left;
   margin-top:25px;
   text-align: left;
}

.delivery_warning p{
   color:#838383;
   font-size: 10pt;
   font-weight: bold;
}

.checkout {
   width: 290px;
   height: 450px;
   background: white;
   margin-top: 5px;
   margin-left:20px;
   border: 1px solid gray;
   float: left;
   padding-left:30px;
}

.checkout hr{
   color: #d0d0d0;
   margin-left: 20px;
   margin-right: 20px;
   opacity: 0.6;
   
}

.price {
   font-size: 30pt;
}

.buy{
   width:270px;
   height:60px;
   font-size:20pt;
   font-weight: bold;
   color:#ffffff;
   background:#c8b771;
   border:none;
}