@charset "UTF-8";
/* CSS Document */
html { overflow-y:scroll; }
html, body { margin:0; padding:0; width:100%;}

img{border:0}

#top_line {width:100%; height:10px; background-color:#462114;}
#wrap{width:100%; }


#header {width:100%; 
 		background: url(/farm/resources/images/top_bg.jpg) top repeat-x; 
		/*position:relative;*/
		top:10px;
		left:0;
		z-index:9999;
		float:left;
		clear:both; 
}
		
#header div.inner-wrap { width:960px; height:125px; margin:0 auto; position:relative; }
		#header div.inner-wrap h1.logo { width:117px; height:119px; margin:0; padding:0; position:absolute; top:0; left:0; }
		#header div.inner-wrap h1.logo a { width:117px; height:119px; text-indent:-999em; background:transparent url(/farm/resources/images/logo.jpg) 0 0 no-repeat; display:block;}
		
		/* main menu */
		#header ul.main-menu { margin:0; padding:0; list-style:none; position:absolute; bottom:50px; left:170px; width:450px;}
			#header ul.main-menu li { padding:0 30px; float:left; font-size:14pt; font-style: normal; color: #462114;}
				#header ul.main-menu li a { height:20px; display:block; text-decoration:none; color: #462114; }
				#header ul.main-menu li a:hover{ color:#478318;}
				
		/* global menu */
		#header ul.global-menu { margin:0; padding:0; list-style:none; position:absolute; bottom:45px;right:0px; width:350px;}
			#header ul.global-menu li { padding:0 0 0 10px; float:left; }	
			#header ul.global-menu li a{color:#717070;  font-style: normal; font-family: dotum;font-size: 9pt; text-decoration:none;}
			#header ul.global-menu li.search { width:18px; height:17px; background:url(/farm/resources/images/search.png) no-repeat; }		
			#header ul.global-menu li.s_input{ min-width:104px; border-bottom:solid 2px #f27634;}
			
		#header ul.weather { margin:0; padding:0; list-style:none; position:absolute; right:0px;}
		#header ul.weather li img{width:30px; height: 30px}
		
		/*main content*/			
#container { width:100%; min-height:1085px; position:relative; clear:both;  }
		#container div.inner-wrap { width:960px; margin:20px auto 0 ; position:relative; display: flow-root;}
		
		#container div.main_visual{ width:630px; height:440px;/*  border:1px solid #9CC; */ float:left;}
		
		#container div.tab_main{width:300px; height:440px; border:1px solid #9CC; float:right; }
		#container div.box { width:300px; height:503px; border:1px solid #9CC; margin:45px 27px 30px 0; float:left;}
		#container div.box2 { width:300px; height:503px; border:1px solid #9CC; margin:45px 0px 30px 0;float:left; }


#footer { width:100%; padding:20px 0 40px 0; border-top:solid 1px #CCC; margin:0 auto; position:relative; }
		#footer div.inner-foot { width:960px;  margin: auto; padding:0;}
		#footer div.inner-foot h5{ list-style:none;  font-style: normal; font-family: dotum;color: #929292;font-size: 9pt;line-height: 180%; font-weight:normal; }
		#footer div.inner-foot-qna{font-style: normal; font-family: dotum;font-size: 12pt;font-weight:normal; }
		#footer div.inner-foot-qna a{text-decoration:none;color: #929292;}
		
.title1{
	width:928px;
	height:80px;
	border: 2px solid #4a2419;
   padding: 15px;
   margin:0px;
   font-size:18pt;
   color:#4a2419;
   font-weight:bold;
   font-family:  "굴림", gulim, arial, helvetica, sans-serif;
   float:left;
	margin-bottom:20px;
}
.titleP{
	margin-top:25px;
	margin-left:40px;
}

.pagination {
    display: inline-block;
    align:center;
    padding-top:40px;
}

.pagination a { 
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-size:12pt;
}

.pagination a.active {
    background-color: #4a2419;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #cfc085;
    border-radius: 5px;
}

/* 검색 */
.search_box{
   float:right;
   padding-top:5px;
   padding-right:10px;
   
}
.green_window {
   display: inline-block;
   width: 250px; height: 34px;
   border: 3px solid #4a2419;
   background: white;
   margin-top:40px;
   
}
.input_text {
   width: 247px; height: 11px;
   margin-top:40px ;
   border: 0;
   line-height: 21px;
   font-weight: bold;
   font-size: 12pt;
   outline: none;
}
.sch_smit {
   width: 54px; height: 40px;
   margin-top:40px ; border: 0;
   vertical-align: top;
   background: #4a2419;
   color: white;
   font-weight: bold;
   border-radius: 1px;
   cursor: pointer;
}
.sch_smit:hover {
   background: #cfc085;
}