<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auction">

	<resultMap type="Auction" id="resultAuction">
		<id column="auction_no" property="auction_no" />
		<result column="member_id" property="member_id" />
		<result column="category_no" property="category_no" />
		<result column="auction_title" property="auction_title" />
		<result column="auction_note" property="auction_note" />
		<result column="auction_img" property="auction_img" />
		<result column="auction_startdate" property="auction_startdate" />
		<result column="auction_enddate" property="auction_enddate" />
		<result column="auction_intro" property="auction_intro" />
		<result column="auction_status" property="auction_status" />
		<result column="auction_startprice" property="auction_startprice" />
		<result column="auction_directprice" property="auction_directprice" />

	</resultMap>

	<insert id="insertAuctionMake" parameterType="auction"
		flushCache="true" useGeneratedKeys="true">
	
	<![CDATA[
		insert into auction values((select max(auction_no) from auction)+1,#{member_id},1,#{auction_title},#{auction_note},#{auction_img},#{auction_intro},
		'0',#{auction_startprice},#{auction_directprice},to_date(#{auction_startdate},'YY-MM-DD'),to_date(#{auction_enddate},'YY/MM/DD'))
	]]>
	</insert>

	<select id="selectAuctionList" parameterType="pageNumber"
		resultType="auction">
	<![CDATA[
		select * from 
			(select rownum rnum, auction_no,
			auction_title,auction_note,auction_img,
			member_id from (select * from auction order by 
			auction_no desc)) where rnum >= #{startRow} and rnum <= #{endRow}
	]]>
	</select>

	<select id="selectAuctionDetail" parameterType="auction"
		flushCache="true" resultType="auction">
	<![CDATA[
		select * from auction where auction_no=#{auction_no}
	]]>
	</select>


	<delete id="deleteAuction" parameterType="auction">
	<![CDATA[
		delete from auction where auction_no=#{auction_no}
	]]>
	</delete>

	<select id="selectmodifyAuction" parameterType="auction"
		flushCache="true" resultType="auction">
	<![CDATA[
		select * from auction where auction_no=#{auction_no}
	]]>
	</select>

	<update id="updateAuctionMake">
	<![CDATA[
		update auction set auction_title=#{auction_title},auction_note=#{auction_note},auction_img=#{auction_img},
		auction_intro=#{auction_intro},auction_startprice=#{auction_startprice},auction_directprice=#{auction_directprice} 
		where auction_no = #{auction_no}
	]]>
	</update>

	<insert id="insertAuctionQnAMake" parameterType="auctionqna"
		flushCache="true" useGeneratedKeys="true">
	<![CDATA[
		insert into auction_qna values((select max(auction_qna_no) from auction_qna)+1,#{auction_no},#{member_id},sysdate,null,
		null,#{auction_qna_title},#{auction_qna_contents},'1')
	]]>
	</insert>

	<select id="selectAuctionQnAList" parameterType="pageNumber"
		resultType="AuctionQnA">
	<![CDATA[
		select * from (select rownum rnum, auction_qna_no,auction_qna_title,member_id,auction_qna_question_date from auction_qna where auction_no =#{auction_no}
		order by auction_qna_no desc) where rnum>= #{startRow} and rnum <=#{endRow}
	]]>
	</select>


	<select id="selectAuctionQnACount" parameterType="int"
		resultType="int">
	<![CDATA[
		select count(*) from auction_qna where auction_no = #{auction_no}
	]]>
	</select>


	<select id="selectAuctionQnADetail" parameterType="AuctionQnA"
		resultType="AuctionQnA">
	<![CDATA[
		select * from auction_qna where auction_qna_no = #{auction_qna_no}
	]]>
	</select>


	<select id="selectshowAuctionQnAModify" parameterType="AuctionQnA"
		resultType="AuctionQnA">
	<![CDATA[
		select * from auction_qna where auction_qna_no = #{auction_qna_no}
	]]>
	</select>

	<update id="updateAuctionQnA" parameterType="AuctionQnA">
		<![CDATA[
		update auction_qna set AUCTION_QNA_TITLE=#{auction_qna_title},AUCTION_QNA_CONTENTS=#{auction_qna_contents}
		where AUCTION_QNA_NO=#{auction_qna_no}
	]]>
	</update>

	<update id="updateauctionQnA_Answer" parameterType="AuctionQnA">
	<![CDATA[
		update auction_qna set auction_qna_answer=#{auction_qna_answer},auction_qna_answer_date=sysdate
		where AUCTION_QNA_NO=#{auction_qna_no}
	]]>
	</update>

	<select id="selectHomeAuctionList" resultType="Auction">
	<![CDATA[
		select * from (select rownum rnum,auction_no,member_id,category_no,auction_title,auction_note,
		 auction_img,auction_startdate,auction_enddate,auction_intro,auction_status,
		auction_startprice,auction_directprice from auction order by auction_no desc) where rnum>=1 and rnum <=12
	]]>
	</select>

	<update id="updateSellerAuctionQnAanswer" parameterType="AuctionQnA">
	<![CDATA[
		update auction_qna set auction_qna_answer=#{auction_qna_answer},auction_qna_answer_date=sysdate
		where AUCTION_QNA_NO=#{auction_qna_no}
	]]>
	</update>


	<select id="selectseller_QnAanswer" parameterType="AuctionQnA"
		resultType="AuctionQnA">
	<![CDATA[
		select * from auction_qna where auction_qna_no = #{auction_qna_no}
	]]>
	</select>

	<update id="delete_auction_qna_answer" parameterType="AuctionQnA">
	<![CDATA[
		update auction_qna set auction_qna_answer=null,auction_qna_answer_date=null
		where AUCTION_QNA_NO=#{auction_qna_no}
	]]>
	</update>

	
	<select id="selectcheckAuction_history_price"  parameterType="int"  resultType="AuctionHistory" >
	<![CDATA[
		select max(ah.auction_history_price) as "auction_history_price",a.auction_startprice,a.AUCTION_DIRECTPRICE
		from auction_history ah, auction a
		where ah.auction_no = a.auction_no
		and ah.auction_no = #{auction_no} GROUP BY auction_startprice, a.AUCTION_DIRECTPRICE
	]]>
	</select>
	
	<!-- 경매 입찰 등록 -->
	<insert id="insertAuctionBidding" parameterType="AuctionHistory" flushCache="true" useGeneratedKeys="true">
	<![CDATA[
		insert into auction_history values((select max(auction_history_no) from auction_history)+1,
		#{auction_no},#{member_id},#{auction_history_price},sysdate)
	]]>
	</insert>
	
	
	<select id="selectAuctionBiddingList"  parameterType="int"  resultType="AuctionHistory" >
	<![CDATA[
		select * from auction_history where auction_no = #{auction_no} order by auction_history_price desc
	]]>
	</select> 
	
	<!-- 한결 -->
	<select id="selectAuctionHistory" parameterType="PageNumber" resultType="auction">
	<![CDATA[
	select * from (select rownum rnum, AUCTION_HISTORY_NO, AUCTION_NO, MEMBER_ID,AUCTION_HISTORY_PRICE,AUCTION_HISTORY_DATE from AUCTION_HISTORY 
	order by AUCTION_NO desc) where rnum >=#{startRow} and rnum <=#{endRow}
	]]>
	</select>
	
	<!-- 한결 -->
	<select id="selectAuctionHistoryCount" parameterType="int" resultType="int">
		select
		count(*) from auction_history
	</select>
	
	
	<select id="selectAuctionBiddingCount" parameterType="int" resultType="int">
	<![CDATA[
		select count(*) from auction_history where auction_no = #{auction_no}
	]]>
	</select>
	
	
	<update id="updateAuctionStatus" parameterType="int">
	<![CDATA[
		update auction set auction_status =
  		case when sysdate BETWEEN auction_startdate and auction_enddate then 1
  		when auction_startdate > sysdate then 0
 		else 2
 		end 
	]]>
	</update>
	
	<select id="selectauction_timeRemaining" parameterType="int" resultType="auction">
	<![CDATA[
		select auction_no,sysdate ,AUCTION_STARTDATE, auction_enddate, auction_status, 
      to_char   (trunc (TO_DATE (auction_enddate, 'YYYY/MM/DD HH24:MI:SS') - TO_DATE (AUCTION_STARTDATE, 'YYYY/MM/DD HH24:MI:SS'), 0)) as "day", 
      to_char(   trunc ((TO_DATE (auction_enddate, 'YYYY/MM/DD HH24:MI:SS') - TO_DATE (AUCTION_STARTDATE, 'YYYY/MM/DD HH24:MI:SS'))*24, 0) - trunc (TO_DATE (auction_enddate, 'YYYY/MM/DD HH24:MI:SS')
      - TO_DATE (AUCTION_STARTDATE, 'YYYY/MM/DD HH24:MI:SS'), 0) * 24 ) as "hour",
      to_char( round (MOD ((TO_DATE (auction_enddate, 'YYYY/MM/DD HH24:MI:SS') - TO_DATE (AUCTION_STARTDATE, 'YYYY/MM/DD HH24:MI:SS'))*24*60, 60))) as "minute" 
      from auction where auction_no = #{auction_no}

	]]>
	</select>
	
		
	<select id="selectAuction_searchTitle" parameterType="PageNumber" resultType="AuctionQnA" >
	<![CDATA[
		select * from (select rownum rnum, member_id,auction_qna_no, auction_qna_title, auction_qna_question_date
		from auction_qna where auction_no = #{auction_no}) where rnum >=#{startRow} and rnum <=#{endRow} and auction_qna_title like '%'||#{keyword}||'%'
		order by auction_qna_no DESC
	]]>
	</select>
	
	<select id="selectAuction_searchMember_id" parameterType="PageNumber" resultType="AuctionQnA" >
	<![CDATA[
		select * from (select rownum rnum, member_id,auction_qna_no, auction_qna_title, auction_qna_question_date
		from auction_qna where auction_no = #{auction_no}) where rnum >=#{startRow} and rnum <=#{endRow} and member_id like '%'||#{keyword}||'%'
		order by auction_qna_no DESC
	]]>
	</select>
		
		
	
	<select id="selectAuction_searchCount" parameterType="int" resultType="int" >
	<![CDATA[
		select count(*) from auction_qna where auction_no = #{auction_no}
	]]>
	</select>
	
	<select id="selectauction_startdateCheck" parameterType="String" resultType="String" >
	<![CDATA[
		select to_char(sysdate, 'YYYY-MM-DD') as "sysdate" from DUAL
	]]>
	</select>
	
	<select id="selectAuctionCusQnaList" parameterType="PageNumber" resultType="AuctionQnA">
	<![CDATA[
	select * from (select rownum rnum, auction_qna_no,auction_qna_title,member_id,auction_qna_question_date 
	from auction_qna order by auction_qna_no desc) where rnum>= #{startRow} and rnum <=#{endRow}
	]]>
	</select>
	
	<select id="selectAuctionCusQnaListCount" parameterType="int" resultType="int">
		select
		count(*) from auction_qna
	</select>

</mapper>
