<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="job">

	<select id="jobListCount" resultType="int">
	<![CDATA[
		select count(*) from job
	]]>
	</select>

	<select id="jobList" parameterType="PageNumber" resultType="Job">
	<![CDATA[
		select * from (select rownum rnum, job_no, job_status, job_title, member_id, job_date from job
		order by job_no desc) where rnum >=#{startRow} and rnum<=#{endRow} 
	]]>
	</select>

	<insert id="insertjob" parameterType="job" flushCache="true"
		useGeneratedKeys="true">
	<![CDATA[
		insert into Job values((select max(job_no) from Job)+1,#{job_title},#{job_contents},sysdate,#{job_status},#{job_startdate},#{job_enddate},#{job_addr},#{job_tel})
	]]>
	</insert>

	<select id="jobDetail" parameterType="job" resultType="job">
	<![CDATA[
		select * from job where job_no = #{job_no}
	]]>
	</select>

</mapper>
