<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="market">


<select id="marketList" parameterType="pageNumber" resultType="market">
	<![CDATA[
		select * from 
			(select rownum rnum, market_no,
			market_title,market_releasedate,market_note,market_img,
			member_id from (select * from market order by 
			market_no desc)) where rnum >= #{startRow} and rnum <= #{endRow}
	]]>
</select>
	
	<select id="marketInfo" parameterType="int" resultType="market">
	<![CDATA[
		select * from market where market_no =#{market_no}
	]]>
	
	</select>
<insert id="insertMarket" parameterType="Market" flushCache="true" useGeneratedKeys="true">
	<![CDATA[
		insert into market values((select max(market_no) from market)+1,1,#{member_id},#{market_title},#{market_note},#{market_img},
		#{market_releasedate},#{market_amount},#{market_intro},'0',#{market_price})
	]]>
	</insert>
</mapper>
