@charset "UTF-8";


.tabs{
   border-bottom: 1px solid #462114;
   overflow: hidden;
}

.tab{
   width:130px;
   height: 40px;
   border: 1px solid #462114;
   border-bottom:none; 
   margin-left: 5px;
   float: left;
   text-align: center;
   color: #462114;
   line-height: 35px;
   font-weight: bold;
   
}

.tab.first{
   background: #462114;
   color: white;
   margin-left:0px;
}

.Info{
   float: left;
   width: 900px;
   
   height: 400px;
   margin: 0px;
}
.Info.show{
    /* border-right: 1px solid #dcdcdc; */
}
.Info.update{
   padding-left: 15px;
   
}
.info_box{
   margin-top: 40px;
}

.Info_title{
   width: 300px;
   height:40px;
   text-align:left;
   font-size: 14pt;
   color: #462114;
   font-weight: bold;
   padding-left: 15px; 
   
}

.hr{
   margin: 0px;
   width: 700px;
   text-align: left;
   float: left;
   /* margin-left: 15px; */
   border: 1px solid #462114;
   
}
.hr.second{
   border: 1px solid #a69189;
}
.hr1{
   width:0px;
   height:200px;
   float: left;
    margin-top: 50px;
    border: 0.5px solid #dcdcdc;
}

.update_table{
margin-left: 10px;   

border-collapse: collapse;
border-bottom: 1px solid #dcdcdc;
border-left:none;
border-right:none;

}
.member_input{
   height:20px;
   padding:5px;
   border-radius: 5px;
   border : 1px solid #bdbdbd;
}
.update_table td{
padding: 20px;


margin: 0px;

}

.update_table tr td:nth-child(2){
   border-bottom: 1px solid #dcdcdc;
}
.update_table tr:nth-child(1) {
   border-top: none;
}